.product_cart_img {
    text-align: center;
    align-items: center;
    justify-content: center;
    height: fit-content;
    margin: 5px;

    img {
        height: 150px;
    }
}

.product_cart_info {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 10px;
    text-overflow: ellipsis;
    text-decoration: none;
    color: inherit;
    font-size: 1.2em;;
}

.attribute_label {
    font-weight: bold;
    font-size: 1.2em;;
}


.quantity_item {
    vertical-align: center;
    justify-items: center;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.quantity-btn {
    font-size: 16px;
    font-weight: bold;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.quantity-btn:hover {
    background-color: #555;
}

input[type="number"] {
    width: 100px;
    text-align: center;
    font-size: 1.2em;;
}

.cart_price {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.2em;;
}

.Pending {
    color: black !important;
}
.Cancelled {
    color: red !important;
}
.Completed {
    color: green !important;
}

.cart_close {
    vertical-align: center;
    justify-items: center;
}

.del-button {
    font-size: xx-large;
    align-self: center;
    color: red;
}

.del-button:hover{
    color: rgb(242, 129, 129);
}

#cart-total {
    font-size: 1.2em;;
}

#cart-table {
    .table-container {
        max-height: 400px;
    }
}

#checkoutBtn {
    align-self: center;
    font-size: 1.2em;;
}

.table {
    text-align: center;
    table-layout: fixed;
}

.table th:nth-child(1) {
    width: 30%;
}

.table th:nth-child(2) {
    text-align: left;
    width: 35%;
}

.table th:nth-child(3) {
    width: 200px;
}

.table th:nth-child(4) {
    width: 15%;
}

.table th:nth-child(5) {
    width: 10%;
}

.table td {
    vertical-align: top;
    text-align: center;
}
