<link rel="stylesheet" href="/style/cart.css">

<div class="row my-2" style="justify-content:center;">
    <div class="col-3">
        <div class="card">
            <div class="card-header bg-dark text-white h5">
                <div style="display: flex; justify-content: space-between;">
                    <a style="cursor: pointer; text-decoration: none; color: inherit;" href="/cart">
                        <i class="fa-solid fa-angle-left"></i>
                    </a>
                    <span>Shipment information</span>
                    <div></div>
                </div>
            </div>
            <div class="card-body" style="max-width: 100%; box-sizing: border-box; overflow: hidden">
                <div
                    style="display: flex; align-items: center; margin-bottom: 10px; width: 100%; box-sizing: border-box;">
                    <p style="flex-basis: 30%;">Full Name<span style="color: red">*</span>: </p>
                    <input type="text" id="fullname" style="flex-grow: 1; box-sizing: border-box;"
                        placeholder="Nguyen Van A" required>
                </div>
                <div
                    style="display: flex; align-items: center; margin-bottom: 10px; width: 100%; box-sizing: border-box;">
                    <p style="flex-basis: 30%;">Address<span style="color: red">*</span>: </p>
                    <input type="text" id="address" placeholder="Street Address"
                        style="flex-grow: 1; box-sizing: border-box;" required>
                </div>
                <div class="checkout__input"
                    style="display: flex; align-items: center; margin-bottom: 10px; width: 100%; box-sizing: border-box;">
                    <p style="flex-basis: 30%;">Phone<span style="color: red">*</span>: </p>
                    <input type="text" id="phone" style="flex-grow: 1; box-sizing: border-box;" placeholder="0909001122"
                        required>
                </div>

                <hr>
                <h5>Total: </h5><span id="cart-total"> {{cart.total_price}} VNĐ</span>
                <br>
                <br>
                <button class="btn btn-dark" style="width:100%" onclick="checkout()">Check Out</button>
            </div>
        </div>
    </div>
    <div class="col-7" style="margin-left: 30px; height: 83vh; overflow: auto;">
        <div class="card">
            <div class="card-header bg-dark text-white h5" style="position: sticky; top: 0;">
                Your order
            </div>
            <table class="table" style="margin-bottom: 0px;">
                <tbody id="cart-table"> </tbody>
            </table>
        </div>
        <nav aria-label="Page navigation example" class="pagination-container" style="margin-bottom: 10px">
            <ul class="pagination" id="pagination"></ul>
        </nav>
    </div>
</div>

<script src="/js/checkout.js"></script>