<div class="row my-2" style="height: 83vh; justify-content: center;">
    <div class="col-8">
        <div class="card shadow-lg">
            <div class="card-header bg-dark text-white text-center h1">Verify Email</div>
            <div class="card-body text-center">
                <h2>Dear {{name}},</h2>
                <p class="lead">Thank you for registering with our app.</p>
                <p class="lead"> To complete your registration, please check your
                    email for the verification link.</p>
                <p>If you didn't enter the correct email, click <a href="/auth">here</a> to go back to authentication
                    site</p>
                <p id="timer"></p>
            </div>
        </div>
    </div>
</div>